@charset "utf-8";

/* CSS Document */

*{
	padding: 0;
	margin: 0;
}	
body{
	font-size: 62.5%;	
  /** you can set this as 100% if you want **/
	background-color: #fff;
}
h1, h2, h3{
	font-weight: 700;	
	padding: 10px 20px;
	color: #6199c0;
}
h1{
	font-size: 3.6rem;	
	font-family: montez, cursive;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);
}
h2{
	font-size: 3.0rem;	
	font-family: vidaloka, serif;
}
h3{
	font-size: 2.4rem;
	font-family: vidaloka, serif;
	color: #466f8a;	
}
p, li, a{
	font-weight: 400;
	font-family: pontano-sans, sans-serif;
	color: #343b40;		
}
p{
	padding: 10px 20px;
	font-size: 1.4rem;
}
li{
	font-size: 1.4rem;
}

a{
	font-size: 1.4rem;
}

/***********************************
					Layout
***********************************/

@media all and (min-width: 1081px) {

.wrapper{
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
}
    
.nav {
    -webkit-flex: 1 1 0;
            flex: 1 1 0;
}
.main{
	-webkit-flex: 2 1 0;
            flex: 2 1 0;
}
.two, .three {
	-webkit-flex: 1 1 0;
            flex: 1 1 0;
}
}

@media all and (max-width: 1080px) and (min-width: 720px) {

.wrapper{
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
}
    
.nav {
    -webkit-flex: 12 1 auto;
            flex: 12 1 auto;
}
.main{
	-webkit-flex: 1 2 auto;
            flex: 1 2 auto;
}
.two, .three {
	-webkit-flex: 1 2 0;
            flex: 1 2 0;
    }
}

@media all and (max-width: 719px) and (min-width: 500px) {

.wrapper{
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
}
    
.nav {
    -webkit-flex: 2 1 0;
            flex: 2 1 0;
}
.main{
	-webkit-flex: 2 1 auto;
            flex: 2 1 auto;
}
.two, .three {
	-webkit-flex: 1 1 0;
            flex: 1 1 0;
    }
}

@media all and (max-width: 499px) {

.wrapper{
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: column;
            flex-flow: column;
}
    
.navbar li{
    -webkit-flex: 1 1 auto%;
            flex: 1 1 auto;
}    

.main{
	-webkit-flex: 2 1 auto;
            flex: 2 1 auto;
}
.two, .three {
	-webkit-flex: 1 1 0;
            flex: 1 1 0;
    }
}


/***********************************
					Masthead
***********************************/

.masthead h1{
    display: block;
	padding: 30px 20px;
}

/***********************************
					Navigation
***********************************/

.navbar li{
    float: left;
    width: 100%;  /* 960/4 = 240  works if the layout is 960*/
	list-style: none;
}
.navbar a{
	display: block;	
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	color: #bcd6e8;
	background-color: #466f8a;
}
.navbar a:visited,
.navbar a:hover,
.navbar a:active,
.navbar a:focus{
	color: #fff;
	background-color: #343b40;
}


/***********************************
					Content
***********************************/

.main{
	
}
.two{
	
}
.three{
	
}


/***********************************
					Footer
***********************************/

.footer p{
    display: block;
    padding: 20px 20px;
	font-size: 1.2rem;
	color: #bcd6e8;	
	background-color: #466f8a;
}